/* CSS Variables */

:root {
  --theme-colour-primary: rgb(33, 28, 55);
  --theme-colour-secondary: rgb(11, 11, 12);
  --font-color: rgb(147, 140, 140);
  --font-color-hover: white;
}

/* Colour classes */

.test {
  border: 1px solid red;
}
.primary-font {
  color: var(--font-color);
}
.primary-font:hover {
  color: var(--font-color-hover);
}

html {
  width: 100%;
  height: 100%;
}
/* removing margin for all the textual elements */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}
/* removing all the styles from the links and formatting them white */
a {
  text-decoration: none;
  color: white;
}
/* Body Styling */
body {
  background-color: var(--theme-colour-primary);
  overflow: none;
  height: 100%;
}

/* Navbar */
.navbar {
  width: 100%;
  height: 4rem;
  position: fixed;
  z-index: 6;
  background-color: var(--theme-colour-primary);
  margin-top: 0% !important;
  box-sizing: border-box;
}

/* Navbar left */
.navbar-left {
  width: 50%;
  height: 3rem;
}

.navbar-brand {
  border-radius: 50%;
  justify-content: center;
  font-family: "Passions Conflict", cursive;
  color: var(--font-color);
  cursor: pointer;
}

.navbar-brand:hover {
  color: var(--font-color-hover);
}
.navbar-brand img {
  height: 60%;
  border-radius: 50%;
}
.navbar-brand {
  font-size: x-small;
}
/* Favorites */
.favorites {
  font-size: 0.7rem;
  font-family: "Fjalla One", sans-serif;

  text-decoration: none;
}

.favorites:hover {
  font-size: 0.7rem;
  cursor: pointer;
}

/* Navbar-right */
.navbar-right {
  height: 3rem;
  width: 45%;
}

/* Search tab */
#search-tag {
  background-color: var(--theme-colour-primary);
  box-shadow: none;
}

.search-bar {
  color: white;
  height: 60%;
  background-color: var(--theme-colour-secondary);
  text-align: center;
}
.search-bar i {
  color: var(--font-color);
}
#search-bar-form {
  width: 58%;
  height: 100%;
  border: none;
  font-size: x-small;
  background-color: var(--theme-colour-secondary);
  color: var(--font-color);
}

#search-bar-form:focus {
  box-shadow: none;
}

.profile-pic {
  height: 50%;
  border-radius: 50%;
}

.profile-pic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
#queue-hamburger {
  display: none;
}
/* Main */
main {
  width: 100%;
  position: relative;
  top: 4rem;
  height: 75%;
}
/* Aside-1 */
.aside-1 {
  display: inline-flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  vertical-align: top;
  gap: 1rem;
  overflow: scroll;
}

/* Carousel */
.carousel {
  width: 88%;
  height: 25%;
  display: inline-flex;
  justify-content: space-around;
  align-items: flex-start;
  align-self: center;
  margin-bottom: 2.5rem;
}

.image-box {
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
  opacity: 0.8;
  max-width: 33%;
}

.image-box img {
  width: 100%;
  object-fit: cover;
}

/* Hover Effect of carousel images */
.image-box:hover {
  transform: scale(1.25);
  opacity: 1;
  z-index: 4;
}
/* End of carousel */

.aside-1::-webkit-scrollbar {
  display: none;
}
/* Most-Played */
.section-title {
  color: white;
  font-family: "Anton", sans-serif;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 1%;
}

.flex-section {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
  row-gap: 2.5rem;
}

.flex-section .flex-item {
  flex-basis: 40%;
  position: relative;
  display: flex;
  justify-content: space-around;
}

.flex-section .item-image {
  max-width: 20%;

  object-fit: cover;
  position: relative;
  text-align: center;
}
.flex-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Play button */

.item image:hover a {
  display: inline;
  position: absolute;
  left: 50%;
  top: 50%;
  /* color: white;
  transform: translate(-50%, -50%); */
}
.item-image i {
  display: none;
  /* position: absolute; */
}

/* Hover effect of play button  for album image */

.flex-section .item-image:hover i {
  display: inline;
  position: absolute;
  left: 50%;
  top: 50%;
  color: white;
  transform: translate(-50%, -50%);
}

.flex-section .item-image:hover img {
  opacity: 0.5;
}

.flex-item .item-desc {
  margin-left: 2%;
  margin-right: 15%;
  font-size: x-small;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  color: var(--font-color);
}
.flex-item p {
  color: white;
  font-size: xx-small;
}
.flex-item .album-controls {
  margin-left: auto;
  display: flex;
}
/* This is the drop down list for the album-control */

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] ~ .mostly-played-dropdown {
  display: none;
}

input[type="checkbox"]:checked + .mostly-played-dropdown {
  position: absolute;
  top: 30%;
  left: 40%;
  min-width: 30%;
  max-height: 150%;
  display: flex;
  flex-direction: column;
  z-index: 2;
  background-color: var(--theme-colour-secondary);
}
.mostly-played-dropdown .options {
  font-size: x-small;
  color: white;
  width: 100%;
  margin: auto;
}

.mostly-played-dropdown .options:hover {
  background-color: darkgray;
}

.mostly-played-dropdown .options img {
  max-width: 20%;
  padding: 5%;
  object-fit: cover;
}

/* Artists */
#popular-artist {
  width: 100%;
  display: flex;
  /* height: 11vw; */
  flex-wrap: wrap;
  justify-content: flex-start;
}
.artist {
  width: 11vw;
  height: 11vw;
  margin: 0.5%;
  opacity: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.artist i {
  display: none;
}

/* Hovering effects */
.artist:hover img {
  opacity: 0.5;
}

.artist:hover i {
  display: inline;
  position: absolute;
  left: 44%;
  top: 40%;
  color: var(--font-color-hover);
}

.artist img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 7%;
  border-radius: 50%;
}
/* Genre */

.genre {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.genre-item {
  width: 16vw;
  height: 16vw;
  margin: 0.5%;
  opacity: 1;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.genre .genre-item:hover img {
  transform: scale(1.2);
  opacity: 0.3;
}
.genre .genre-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: all 0.2s ease-in;
}

.genre-item span {
  display: none;
}

.genre-item:hover span {
  display: inline;
  position: absolute;
  color: white;
  font-size: 1.2rem;
  opacity: 1;
}

/* End of genre */

/* Latest */
.mostly-played {
  width: 100%;
  height: 90%;
}

.lr-desc {
  width: 20vw;
  height: 15vw;
  margin: 2.5%;
  opacity: 0.7;
  transition: box-shadow ease-out 0.3s;
}
/* Hovering Effects */
.lr-desc:hover {
  opacity: 1;
}

.lr-image:hover img {
  box-shadow: 0px 0px 10px 1px white;
}

.lr-desc .lr-image {
  height: 80%;
  width: 100%;
}

.lr-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.lr-desc .desc {
  width: 100%;
  height: 30%;
}

.lr-desc .desc > p {
  color: var(--font-color);
  font-size: x-small;
}
/* End of aside-1 */

/* Aside-playlist */
.aside-2 {
  display: inline-block;
  width: 29%;
  height: 100%;
}
.heading-button-combo {
  font-size: small;
}
.heading-button-combo i {
  display: none;
}
.playlist {
  height: 95%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.playlist::-webkit-scrollbar {
  display: none;
}
.playlist .song {
  display: flex;
  color: var(--font-color);
  font-size: x-small;
  align-items: center;
  gap: 1rem;
}

.playlist .song:hover {
  color: var(--font-color-hover);
}
.playlist .song-image {
  flex-basis: 10%;
  background: black;
  text-align: center;
  position: relative;
}

.playlist .song .song-image i {
  display: none;
}

.playlist .song:hover .song-image i {
  display: inline;
  position: absolute;
  top: 50%;
  left: 39%;
}

.playlist .song-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.playlist .song:hover .song-image img {
  height: 100%;
  padding: 2.5%;
  opacity: 0.5;
}

.song-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
}
.song-desc .name {
  font-size: 0.68rem;
  color: var(--font-color);
}
.song-desc p {
  color: var(--font-color-hover);
  font-size: xx-small;
}

.playlist .heart {
  margin-left: auto;
}

.playlist .heart i:hover {
  color: red;
}

/* Playlist */
/* Bottom-Player */

.player {
  display: flex;
  background-color: var(--theme-colour-secondary);
  position: fixed;
  left: 0;
  bottom: 0;
  color: white;
  text-align: center;
  height: 10vh;
  width: 100%;

  justify-content: center;
}

.player .current-song {
  display: flex;
  min-width: 20%;
  vertical-align: top;
  height: 100%;
  padding: 0.5%;
}

.player .current-song .current-desc {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  text-align: center;
}
.player .current-song i {
  align-self: center;
  margin-left: auto;
  transform: scale(0.8);
}
.player .current-desc .current-name {
  font-size: 0.5rem;
  color: var(--font-color);
}

.player .current-desc p {
  color: var(--font-color-hover);
  font-size: 0.6rem;
}

.player .player-toolbar {
  display: inline-flex;
  flex-direction: column;
  flex-basis: 50%;
  justify-content: space-around;
}
.player .toolbar {
  display: flex;
  justify-content: center;
  gap: 1.7rem;
}
.player .toolbar i {
  transform: scale(1);
}

.player .toolbar .icon {
  display: inline-block;
  height: 5%;
  width: 5%;
  color: var(--font-color);
}

.player .toolbar .icon:hover {
  border-radius: 50%;
  color: var(--font-color-hover);
}

.player .sound-control {
  display: inline-block;
  width: 20%;
  height: 100%;
}

.player .play-status {
  position: relative;
  top: -0.5rem;
}

.slider:hover {
  opacity: 1;
}
.slider {
  appearance: none;
  width: 75%;
  height: 2px;
  background: rgb(233, 172, 172);
  outline: none;
  opacity: 0.7;

  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.play-status {
  /* vertical-align: middle; */
}

.play-status::before {
  content: "1:39";
  font-size: 0.4rem;
}
.play-status::after {
  content: "4:42";
  font-size: 0.4rem;
}
.slider::-webkit-slider-thumb {
  appearance: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--font-color);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: gray;
  cursor: pointer;
}
.sound-control {
  vertical-align: top;
  display: flex;
  align-items: center;
}
.sound-control i {
  transform: scale(0.8);
  padding: 5%;
}

#sound {
  width: 20%;
  display: inline-flex;
  justify-content: center;
}
#sound .slider {
  appearance: none;
  height: 2px;
  background: rgb(233, 172, 172);
  outline: none;
  opacity: 0.7;

  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
